<h2>Template Forms validation</h2>
<form #myfrm="ngForm" (ngSubmit)="formSubmit()">
    <div class="form-group">
        <label >Full Name</label>
        <input type="text" name="fullName" class="form-control" [(ngModel)]="formData.fullName" required #fn="ngModel" pattern="[a-zA-z ]{2,100}"/>
        <!-- where fn tell name of input field -->
         <!--error-->
         <div *ngIf="fn.invalid && (fn.touched || fn.dirty)" class="alert alert-danger">
            <div *ngIf="fn.errors?.['required']">Full Name is required</div>
            <div *ngIf="fn.errors?.['pattern']">Full Name minimum length is 2</div>

         </div>
    </div>
    <div class="form-group">
        <label >Email</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="formData.email" required/>
    </div>
    <div class="form-group">
        <label >Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="formData.password" required/>
    </div>
    <div class="form-group">
        <label >Mobile</label>
        <input type="text" name="mobile" class="form-control" [(ngModel)]="formData.mobile" required #mob="ngModel" pattern="[6-9][0-9]{9}"/>
        <div *ngIf="mob.invalid && (mob.touched || mob.dirty)" class="alert alert-danger">
            <div *ngIf="mob.errors?.['required']">Mobile is required</div>
            <div *ngIf="mob.errors?.['pattern']">10 digit mobile number is allowed. start between [6-9]</div>

         </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-success" [disabled]="myfrm.invalid"/>
</form>
<!-- forms are bind with ngform and controls are bind with ngModel -->