<h1>Welcome to angular training.</h1>
<p>this is my first anguler project hello my self ritesh tiwari , i have done my schooling from swami vivekanand intermidiate college khadda kuhinagar 
    i have done my graduation from pranveer singh institute of technology kanpur in information technology , i have done many project on various field like 
    machine learning , cnn , deep learning and , frontend like react , full stack development , and i have done many coding problem on  various coding platfor like 
    leetcode , codechef , hackerrank .
</p>